@model IEnumerable<CPU_Information.Data.Models.CPU>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrequencyBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FrequencyTurbo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoresPhysical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoresLogical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenerationCodename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GenerationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Model)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FrequencyBase)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FrequencyTurbo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CoresPhysical)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CoresLogical)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GenerationCodename)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GenerationNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Class)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
